.grid {
    display: grid;
    gap: 30px;
}

@media screen and (min-width: 768px) {
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .grid{
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width: 1500px) {
    .grid{
        grid-template-columns: repeat(6, 1fr);
    }
}

