body{
    background-color: white;
}

.navbar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.text{
    &-red{
        color: red;
    }
    &-orange{
        color: orange;
    }
    &-green{
        color: green;
    }
}