<footer>
    <section>
        <a href="{{ path('app_main') }}"><img src="{{ asset('assets/images/logo.png') }}" alt="Logo OpenBlog"> OpenBlog</a>
    </section>
    <section>
        <a href="{{ path('app_mentions') }}">Mentions légales</a>
    </section>
</footer>