<nav class="navbar">
    <a href="{{ path('app_main') }}"><img src="{{ asset('assets/images/logo.png') }}" alt="Logo OpenBlog"></a>
    <ul>
        <li>Accueil</li>
        <li>Articles</li>
        <li>Catégories</li>
        <li>Auteurs</li>
        <li>Contact</li>
        <li>Recherche</li>
    </ul>
</nav>