<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ ux_controller_link_tags() }}
        {% endblock %}

        {{ importmap(['app', 'navbar']) }}
        {% block javascripts %}
            {% block importmap %}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% include "_partials/_navbar.html.twig" %}

        {% for messages in app.flashes %}
            {% for message in messages %}
                <p>{{ message|raw }}</p>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}

        {% include "_partials/_footer.html.twig" %}
    </body>
</html>
